/* !!!!!>>>  Main Color Variables to be used on site  <<<!!!!! */

:root {
    --coffee-brown: #6b4226;
    --cream: #FFFDD0;
    --forest-green: #228B22;
    --rustic-red: #A92200;
    --gold: #D4AF37;
  }


/* ------>>>  Basic Reset  <<<------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a{
    text-decoration: none;
  }

ul, ol {
    list-style: none;
  }

/* ------>>>  Basic styles for all pages  <<<------ */


/* Main content base styles */
main{
  background-color: var(--cream);
  color: var(--coffee-brown);
}

/* Headings */
h1, h2, h3 {
  font-family: 'Courgette', cursive;
}

.sub-heading{
  text-align: center;
  padding: 1.5rem 0;
}

/* Text */

p, a, span {
  font-family: 'Lato', sans-serif; 
  letter-spacing: 1px;
}
h1 {
  font-size: 2.2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.1rem;
}

/* HEADER */

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Main Heading style */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cream);
  text-align: center;
  min-width: 70vw;
}



/* NAV */

.logo {
  max-width: 150px;
}

.main-nav-item{
  display: inline-block;
  margin-left: 2rem;
}

.main-nav-item a {
  color: var(--cream);
  text-transform: uppercase;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
}
.nav-container.scrolled {
  background-color: var(--coffee-brown);
}

.nav-container.scrolled a {
  color: #ff9900; 
}



/* !!!!END Basic styles!!!! */



/* ------>>>  HOMEPAGE STYLES <<<------ */

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.articles h2 {
  text-align: center;
}

.articles img {
  width: 100%;
}
.text-content {
  padding: 1rem .5rem;
}
.text-content h3 {
  padding-bottom: .8rem;
}


/* !!!!END HOMEPAGE!!!! */



/* ------>>>  MENU STYLES <<<------ */

/* !!!!END MENU!!!! */



/* ------>>>  OPEN/LOCATION STYLES  <<<------ */

/* !!!!END OPEN/LOCATION!!!! */



/* ------>>>  COFFEE STORY STYLES  <<<------ */

/* !!!!END COFFEE STORY!!!! */




/* ------>>>  ORDER STYLES  <<<------ */

/* !!!!END ORDER!!!! */



/* ------>>>  JOBS STYLES  <<<------ */

/* !!!!END JOBS!!!! */




/* ------>>>  CONTACT STYLES  <<<------ */

/* !!!!END CONTACT!!!! */



/* ------>>>  FOOTER styles for all pages  <<<------ */

/* !!!!END FOOTER styles!!!! */


/* ------>>>  MEDIA QUERIES  <<<------ */



/* !!!!END MEDIA QUERIES!!!! */


@media screen and (min-width: 768px) {
  /* Font size for tablets and larger screens */
  h1 {
    font-size: clamp(2.2rem, 2.2rem + 1vw, 4rem); 
  }
  h2 {
    font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2.5rem); 
  }

  h3 {
    font-size: clamp(1.1rem, 1.1rem + 0.3vw, 1.8rem); 
  }

  p {
    font-size: clamp(1rem, 1rem + 0.2vw, 1.2rem);
  }
  .articles{
    flex-direction: row;
    
  }
}

