/* !!!!!>>>  Main Color Variables to be used on site  <<<!!!!! */

:root {
    --coffee-transp: rgba(107, 66, 38, 0.95);
    --coffee-brown: #6b4226;
    --cream: #FFFDD0;
    --forest-green: #228B22;
    --rustic-red: #A92200;
    --gold: #D4AF37;
  }


/* ------>>>  Basic Reset  <<<------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a{
    text-decoration: none;
  }

ul, ol {
    list-style: none;
  }

/* ------>>>  Basic styles for all pages  <<<------ */


/* Main content base styles */
main{
  background-color: var(--cream);
  color: var(--coffee-brown);
}

/* Headings */
h1, h2, h3 {
  font-family: 'Courgette', cursive;
}

.sub-heading{
  text-align: center;
  padding: 1.5rem 0;
}

.header-image {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}


/* Text */

p, a, span {
  font-family: 'Lato', sans-serif; 
  letter-spacing: 1px;
}
h1 {
  font-size: 2.2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.1rem;
}

/* HEADER */

header {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Main Heading style */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--cream);
  text-align: center;
  min-width: 70vw;
}


/* NAV */
.main-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 100px; 
  left: 0;
  background-color: rgb(107, 66, 38, 0.9);
}
.main-nav.scrolled {
background-color: var(--coffee-transp);
}

.logo {
  max-width: 100px;
  opacity: .6;
  border-radius: 50%;
}
.logo-link {
  z-index: 10;
}

.main-nav-item{
  display: inline-block;
  padding: 1rem .5rem;
}
.main-nav-link {
  height: 60px;
  padding: 1rem .5rem;
}

.main-nav-item a {
  color: var(--cream);
  text-transform: uppercase;
}

.main-nav-item a:hover {
  border-bottom: 2px solid var(--cream);
}
.nav-container.scrolled a:hover{
  border-bottom: 2px solid var(--gold);
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 0 1rem;
  transition: background-color 0.3s ease;
}
.nav-container.scrolled {
  background-color: var(--coffee-transp);
}

.nav-container.scrolled a {
  color: #ff9900; 
}

/* Hamuburger menu */
.menu-icon, .close-icon {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--gold);
}
.menu-icon {
  display: block;
  
}
.close-icon {
  display: none;
}



/* !!!!END Basic styles!!!! */



/* ------>>>  HOMEPAGE STYLES <<<------ */

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
 
}
.articles h2 {
  text-align: center;
}

.articles img {
  width: 100%;
}
.text-content {
  padding: 1rem .5rem;
}
.text-content h3 {
  padding-bottom: .8rem;
}


/* !!!!END HOMEPAGE!!!! */



/* ------>>>  MENU STYLES <<<------ */

/* !!!!END MENU!!!! */



/* ------>>>  OPEN/LOCATION STYLES  <<<------ */

/* !!!!END OPEN/LOCATION!!!! */



/* ------>>>  COFFEE STORY STYLES  <<<------ */
.header-story{
  background: url('../img/story/story-head.webp') no-repeat center center/cover;
}
@media screen and (max-width: 768px) {
  .header-story {
    background-size: 170%;
  
  }
}
/* !!!!END COFFEE STORY!!!! */




/* ------>>>  ORDER STYLES  <<<------ */

/* !!!!END ORDER!!!! */



/* ------>>>  JOBS STYLES  <<<------ */

/* !!!!END JOBS!!!! */




/* ------>>>  CONTACT STYLES  <<<------ */

/* !!!!END CONTACT!!!! */



/* ------>>>  FOOTER styles for all pages  <<<------ */

footer {
  background-color: var(--coffee-brown);
  color: var(--cream);
  display: flex;
  flex-wrap: wrap;
  
  padding-top: 1rem;
  justify-content: space-around;
  
}
.social i{
  font-size: 2rem;
  padding-right: 1rem;
}
footer li, .footer-links a{
  padding-top: .3rem;
}

.footer-links a:hover{
  color:var(--gold)
}

.footer-nav{
  display: flex;
  flex-direction: column;
}

.contact, .social {
  margin-top: 1rem;
}

.copyright {
  margin: 1.5rem;
  min-width: 100%;
  text-align: center;
}
footer a {
  color: var(--cream)
}



/* !!!!END FOOTER styles!!!! */


/* ------>>>  MEDIA QUERIES  <<<------ */



/* !!!!END MEDIA QUERIES!!!! */


@media screen and (min-width: 768px) {
  /* Font size for tablets and larger screens */
  h1 {
    font-size: clamp(2.2rem, 2.2rem + 1vw, 4rem); 
  }
  h2 {
    font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2.5rem); 
  }

  h3 {
    font-size: clamp(1.1rem, 1.1rem + 0.3vw, 1.8rem); 
  }

  p {
    font-size: clamp(1rem, 1rem + 0.2vw, 1.2rem);
  }

/* Main navigation and hamburger syles to hide */
  .toggle-btn {
  display: none;
}
.main-nav {
  display: flex;
  /* position: relative; */
  top: auto;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-end;
}

/* Main content wrapper */

  .wrapper {
    margin: 0 auto;
    max-width: 1400px;
  } 

  .articles{
    flex-direction: row;
    align-items: center;
  }
  #art-one{
    flex-direction: row;
  }
  .articles:nth-child(even) {
    flex-direction: row-reverse;
    
  }
  
  .articles img {
    max-width: 60%;
  }
  /* Footer for bigger screens */
  .footer-nav{
    flex-direction: row;
  }
  .footer-nav a {
    margin-right: 1rem;
  }
  .footer-details{
    display: flex;
  }
  .address{
    margin-right: 2rem;
  }
  .contact{
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px){

}

